<% models.forEach(function(model) { 
    if(model.status == 0) { %>
        <%= model.nome %> <img src="<%= model.foto_base64 %>" alt="" srcset="">
        <button>aceitar</button> <button>recusar</button>
    <%} else if(model.status == 1) { %>
        <%= model.nome %> <img src="<%= model.foto_base64 %>" alt="" srcset="">
        <button>alterar preço</button>
    <%}})%>