<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paxton - Área da Empresa</title>
  <link rel="stylesheet" href="/index.css" />
</head>
<body class="body_empresa">

  <button id="voltar" class="voltar">Voltar</button>

  <h1 class="h1_empresa">Paxton</h1>
  <h2 class="h2_empresa">Área da Empresa — Ofertar Modelos</h2>

  <div class="container_empresa">
    <% models.forEach(function(model) { 
        if(model.status == 1) { %>
            <div class="modelo-box-empresa">
                <h3 class="h3_empresa"><%= model.nome %></h3>
                <img src="<%= model.foto_base64 %>" alt="" srcset="">
                <p class="p_model">Preço sugerido: R$<%= model.preco%></p>
                <button class="button_empresa" onclick="fazer_oferta('<%= model.chave_login %>')">fazer oferta</button>
            </div>
    <% }}); %>
  </div>

  <script>
    document.getElementById('voltar').onclick = function(){
      window.location.href = '/index.html';
    }
    function fazer_oferta(chave_login){
      let tipo = prompt("Aluguel ou Compra?")
      let preco = prompt("Qual será o preço da oferta")
      let tempo = prompt("Tempo(meses)")
      let comp  = prompt("Quem é Você?")
      fetch("/fazer_oferta", {
          method: "POST",
          body: JSON.stringify({
            senha: chave_login,
            preco: preco,
            tipo: tipo,
            comp :comp,
            tempo: tempo
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
        .then((response) => response.json())
        .then((json) => {
          if(json.status == 1) alert("Sucesso!")
          else alert("Erro!")
      });
    }
  </script>

  <footer>Seu futuro conosco • versão 1.0</footer>

</body>
</html>
