body {
      background-color: #000;
      color: #ff9900;
      font-family: 'Arial Black', Gadget, sans-serif;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    .titulo-paxton {
      font-size: 175px;
      margin-top: 150px;
      letter-spacing: 3px;
      color: #ff9900;
    }

    .subtitulo-paxton {
      font-size: 28px;
      margin-top: -125px;
      color: #ffa733;
    }

    .botoes-menu {
      margin-top: 60px;
    }

    button {
      background-color: transparent;
      border: 4px solid #ff9900;
      color: #ff9900;
      padding: 40px 60px;
      font-size: 26px;
      border-radius: 20px;
      margin: 15px;
      cursor: pointer;
      transition: 0.2s;
      font-weight: bold;
      box-shadow: 0px 0px 20px rgba(255, 153, 0, 0.3);
    }

    button:hover {
      background-color: #ff9900;
      color: #000;
      transform: scale(1.08);
      box-shadow: 0px 0px 25px rgba(255, 153, 0, 0.5);
    }

    footer {
      color: #ff9900;
      font-size: 14px;
      margin-top: 85px;
      margin-bottom: 20px;
      opacity: 0.6;
    }

  .voltar{
    position:absolute; 
    top:10px; left:10px; 
    padding:10px; 
    font-size:14px;
  }

  .foto{
    width:250px; 
    height:250px; 
    border:2px 
    solid #fff;
  }

  .titulo-paxton-PerfilModelo{
    font-size: 175px;
      margin-top: 50px;
      letter-spacing: 3px;
      color: #ff9900;
  }

  .subtitulo-paxton-PerfilModelo{
     font-size: 28px;
      margin-top: -125px;
      color: #ffa733;
  }

  .sobre{
    position: absolute; 
    top: 10px; 
    right: 10px; 
    padding: 10px; 
    font-size: 15px;
  }

  .sobre-body{
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
  }

  .sobre-h1{
    font-size: 40px;
    margin-bottom: 10px;
    color: orange;
    margin-top: 100px;
  }

  .sobre-h2{
    color: orange;
    margin-top: 40px;
    font-size: 28px;
  }

  .sobre-p{
    font-size: 20px;
    max-width: 800px;
    margin: 10px auto;
    line-height: 2;
  }

  .ja_sou_modelo{
    position:absolute; 
    top:10px; right:10px; 
    padding:10px; 
    font-size:14px;
  }

  .body_adm {
      background-color: #000;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .h1_adm {
      font-size: 60px;
      margin-top: 20px;
      color: orange;
      text-shadow: 0px 0px 10px orange;
    }

    .h2_adm {
      font-size: 26px;
      margin-bottom: 40px;
      color: #ffae42;
    }

    .container_adm {
      width: 90%;
      max-width: 900px;
      margin: auto;
      padding-bottom: 50px;
    }

    .modelo-box {
      border: 2px solid orange;
      margin: 20px auto;
      padding: 20px;
      border-radius: 10px;
      background: rgba(255, 165, 0, 0.05);
      width: 100%;
    }

    .modelo-box img {
      display: block;
      width: 200px;
      height: auto;
      border-radius: 10px;
      margin: 15px auto;
      border: 3px solid orange;
    }

    .button_adm {
      background-color: orange;
      color: black;
      padding: 12px 20px;
      margin: 10px;
      border: none;
      font-size: 20px;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.2s;
    }

    .body_empresa {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      min-height: 100vh;
      padding: 20px;
    }

    .h1_empresa {
      font-size: 60px;
      margin-top: 20px;
      color: orange;
      text-shadow: 0px 0px 10px orange;
    }

    .h2_empresa {
      font-size: 26px;
      margin-bottom: 40px;
      color: #ffae42;
    }

    .container_empresa {display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      min-height: 100vh;
      padding: 20px;
    }

    .button_empresa {
      background-color: orange;
      color: black;
      padding: 12px 20px;
      margin: 10px;
      border: none;
      font-size: 20px;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.2s;
    }

    .div_login{
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

    .input-senha{
      margin-top: 20px;
        width: 200px;
        height: 10px;
        padding: 10px;
        text-align: center;
    }

    .footer_sobre {
      color: #ff9900;
      font-size: 14px;
      margin-top: 75px;
      margin-bottom: 10px;
      opacity: 0.6;
    }

    .titulo-paxton_modelo {
      font-size: 175px;
      margin-top: 50px;
      letter-spacing: 3px;
      color: #ff9900;
    }

    .subtitulo-paxton_modelo {
      font-size: 28px;
      margin-top: -125px;
      color: #ffa733;
    }
    
    .form_alinhado {
      display: flex;
      justify-content: center;
      gap: 50px;
      margin-top: 40px;
      margin-left: 50px;
    }
  
    .campo_form p {
      margin: 0 0 10px;
      font-size: 22px;
    }
  
    .campo_form input {
      font-size: 20px;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid #ff9900;
      background: #000000;
      color: #ff9900;
    }

     input {
      background-color: transparent;
      border: 4px solid #ff9900;
      color: #ff9900;
      padding: 40px 60px;
      font-size: 26px;
      border-radius: 20px;
      margin: 15px;
      cursor: pointer;
      transition: 0.2s;
      font-weight: bold;
      box-shadow: 0px 0px 20px rgba(255, 153, 0, 0.3);
    }

    .modelo-box-empresa{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 20px;
      border: 2px solid orange;
      margin: 20px auto;
      border-radius: 10px;
      background: rgba(255, 165, 0, 0.05);
      width: 100%;
    }

    .p_model{
      color: #fff;
    }

