body {
      background-color: #000;
      color: #ff9900;
      font-family: 'Arial Black', Gadget, sans-serif;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    .titulo-paxton {
      font-size: 175px;
      margin-top: 150px;
      letter-spacing: 3px;
      color: #ff9900;
    }

    .subtitulo-paxton {
      font-size: 28px;
      margin-top: -125px;
      color: #ffa733;
    }

    .botoes-menu {
      margin-top: 60px;
    }

    button {
      background-color: transparent;
      border: 4px solid #ff9900;
      color: #ff9900;
      padding: 40px 60px;
      font-size: 26px;
      border-radius: 20px;
      margin: 15px;
      cursor: pointer;
      transition: 0.2s;
      font-weight: bold;
      box-shadow: 0px 0px 20px rgba(255, 153, 0, 0.3);
    }

    button:hover {
      background-color: #ff9900;
      color: #000;
      transform: scale(1.08);
      box-shadow: 0px 0px 25px rgba(255, 153, 0, 0.5);
    }

    footer {
      color: #ff9900;
      font-size: 14px;
      margin-top: 85px;
      margin-bottom: 20px;
      opacity: 0.6;
    }

  .voltar{
    position:absolute; 
    top:10px; left:10px; 
    padding:10px; 
    font-size:14px;
  }

  .foto{
    width:250px; 
    height:250px; 
    border:2px 
    solid #fff;
  }

  .titulo-paxton-PerfilModelo{
    font-size: 175px;
      margin-top: 50px;
      letter-spacing: 3px;
      color: #ff9900;
  }

  .subtitulo-paxton-PerfilModelo{
     font-size: 28px;
      margin-top: -125px;
      color: #ffa733;
  }

  .sobre{
    position: absolute; 
    top: 10px; 
    right: 10px; 
    padding: 10px; 
    font-size: 15px;
  }

  .sobre-body{
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
  }

  .sobre-h1{
    font-size: 40px;
    margin-bottom: 10px;
    color: orange;
    margin-top: 100px;
  }

  .sobre-h2{
    color: orange;
    margin-top: 40px;
    font-size: 28px;
  }

  .sobre-p{
    font-size: 20px;
    max-width: 800px;
    margin: 10px auto;
    line-height: 2;
  }